<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ANRW</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css">
    {% load static %}
    <!-- MetisMenu CSS -->
    <link href="{% static "css/metisMenu.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="https://www.jq22.com/jquery/font-awesome.4.6.0.css">

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    {% include "nav.html" %}

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">首页</h1>
                </div>
                <!-- /.col-lg-12 -->
                <div class="cjp_bg">
                    <div class="content_wrapper">
				<div class="container-fluid" id="content">
                    <!-- cjp: 替换内容 -->

                        <!-- 标题行 -->
                            <br/>
                            <h2>您好，欢迎使用苏分ANRW系统</h2>
                            <hr>
                            <p>系统内部测试阶段，功能与内容正在逐步上线</p>
                            <p>近期安排：0、行业数据汇总整理；1、行业分析报告；2、查询页面[优化]；3、人效分析</p>
                            如有问题请联系：<a href="baidu://message/?sid=&id=周轴晭宙">他</a>

                            <br/>
                            <br/>
                            <br/>
                        <div class="card-group">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">知识空间</h4>
                                    <ul class="list-unstyled">
                                        <li class="mb-2">
                                            <a target="_blank" href="http://ku.baidu-int.com/knowledge/HFVrC7hq1Q/pKzJfZczuc/CxnCGWpHTQ/Ce8K2gZ6Gjhheg" class=" default-color">
                                                <i class="fa fa-link text-primary pr-2"></i> 苏分策略数据-产品策略
                                            </a>
                                        </li>
                                        <li class="mb-2">
                                            <a target="_blank" href="http://ku.baidu-int.com/knowledge/HFVrC7hq1Q/pKzJfZczuc/CxnCGWpHTQ/8jOXen4ns-bazW" class="default-color ">
                                                <i class="fa fa-link text-primary pr-2"></i> 苏分策略数据-框架策略
                                            </a>
                                        </li>
                                        <li class="mb-2">
                                            <a target="_blank" href="http://ku.baidu-int.com/knowledge/HFVrC7hq1Q/pKzJfZczuc/CxnCGWpHTQ/yUnNtbIYEMldK3" class="default-color ">
                                                <i class="fa fa-link text-primary pr-2"></i> 苏分策略数据-客开规则
                                            </a>
                                        </li>
                                        <li class="mb-2">
                                            <a target="_blank" href="http://ku.baidu-int.com/knowledge/HFVrC7hq1Q/pKzJfZczuc/CxnCGWpHTQ/lFFGShaN34uoiK" class="default-color ">
                                                <i class="fa fa-link text-primary pr-2"></i> 苏分策略数据-风控政策
                                            </a>
                                        </li>
                                        <li class="mb-2">
                                            <a target="_blank" href="http://ku.baidu-int.com/knowledge/HFVrC7hq1Q/pKzJfZczuc/CxnCGWpHTQ/PUh34IATJMSpTG" class="default-color ">
                                                <i class="fa fa-link text-primary pr-2"></i> 苏分策略数据-销售政策
                                            </a>
                                        </li>
                                        <li class="mb-2">
                                            <a target="_blank" href="http://ku.baidu-int.com/knowledge/HFVrC7hq1Q/pKzJfZczuc/CxnCGWpHTQ/CsNf_XSef2Rlrj" class="default-color ">
                                                <i class="fa fa-link text-primary pr-2"></i> 苏分策略数据-2021Q4激励汇总
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
				</div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static "js/metisMenu.min.js" %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static "js/sb-admin-2.js" %}"></script>
</body>

</html>
